@keyframes in {
  from {height: 15%;}
  to {height: 100%;}
}

@keyframes out {
  from {height: 100%;}
  to {height: 15%;}
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.noclick {
  pointer-events: none;
}

.footer,.icon-container,.img-container {
  transition: all .3s cubic-bezier(.7,.7,0,1);
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  position: fixed;

  top: 90%;
  bottom: -3%;
  left: 0;
  right: 0;
}

.icon-container,.img-container {
  height: 100%;
  aspect-ratio: 1;
}

.icon-container {
  position: absolute;
  z-index: 4;
}

.img-container {
  z-index: 5;
}

.main-button,.icon {
  transition: background-color .2s;
  border-radius: 50%;
  aspect-ratio: 1;
  border: 2px solid white;
}

.main-button {
  text-indent: -999em;
  overflow: hidden;
  text-align: left;
  background-size: cover;

  background-color: #52AA55;
  height: 100%;
  animation: in .2s cubic-bezier(.7,.7,0,1);
}

.hidden-button {
  transition: transform .4s cubic-bezier(.7,.7,0,1),height .2s cubic-bezier(.7,0,.3,1);
  height: 0;
  animation: out .2s cubic-bezier(.7,0,.2,.2);
}

.icon {
  background-color: #529913;
}

.icon-hover {
  filter: brightness(0) saturate(100%) invert(64%) sepia(54%) saturate(6016%) hue-rotate(59deg) brightness(91%) contrast(85%);
  background-color: rgba(0,0,0,0);
}

.mouse {
  position: absolute;
  width: 100px;
  aspect-ratio: 1;
  background-color: red;
}

.hidden {
  opacity: 0;
}
